<section class="content mt-3">

<div class="card">
  <div class="card-title text-uppercase m-3">Refine search results</div>
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="select1">Client Name</label>
            <select name="" id="select1" class="form-control">
              <option value=""></option>
            </select>

          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="date">Date</label>
            <input id="date" type="date" class="form-control">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="dateend">&af;</label>
            <input id="dateend" type="date" class="form-control">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="ReferenceNumber">Reference Number</label>
            <input id="ReferenceNumber" type="number" class="form-control">


          </div>
        </div>

      </div>
    </form>
  </div>
  <div class="card-footer bg-white">
    <div class="row">
      <div class="col-10">
        <button class="btn text-color"><i class="fas fa-redo"></i> Reset Filter</button>
      </div>
      <div class="col align-content-end">
        <button class="btn bg-btn text-white">Update Result</button>
      </div>
    </div>
  </div>
</div>






</section>

