<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- /.col-md-6 -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header border-0">
                        <h4 class="text-primary">PAYMENT SUMMARY</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4 col-6">
                                <div class="description-block border-right">
                                    <p class="description-text">INBOUND TODAY</p>
                                    <h3 class="font-weight-bold">$35,210.43</h3>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 col-6">
                                <div class="description-block border-right">
                                    <p class="description-text">OUTBOUND TODAY</p>
                                    <h3 class="font-weight-bold">$35,210.43</h3>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 col-6">
                                <div class="description-block">
                                    <p class="description-text">TOTAL OUTSTANDING</p>
                                    <h3 class="font-weight-bold">$35,210.43</h3>
                                </div>
                                <!-- /.description-block -->
                            </div>
                        </div>
                        <!-- /.row -->
                        <!-- /.d-flex -->
                    </div>
                </div>
            </div>

            <div class="col-lg-12 card">
                <div class="row">
                    <div class="col-sm-7 col-12">
                        <div class="card-header border-0">
                        </div>
                        <div class="card-body">
                            <div class="position-relative mb-4">
                                <canvas id="sales-chart" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-12">
                        <div class="card" style="display: initial !important">
                            <div class="">
                                <h5 style="text-align: end;">TOTAL 12 WEEK PAYMENTS</h5>
                                <h5 style="text-align: end;">CONSOLIDATED TOTAL</h5>
                                <h3 class="font-weight-bold" style="text-align: end;">$35,210.43</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th style="text-align: center;">BY CURRENCY</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>SGD</td>
                                            <td style="text-align: center;"><span>$15,468,089.67 <br>
                                                    $8,465,829.96</span></td>
                                        </tr>
                                        <tr>
                                            <td>EUR</td>
                                            <td style="text-align: center;"><span>$15,468,089.67 <br>
                                                    $8,465,829.96</span></td>
                                        </tr>
                                        <tr>
                                            <td>USD</td>
                                            <td style="text-align: center;"><span>$15,468,089.67 <br>
                                                    $8,465,829.96</span></td>
                                        </tr>
                                        <tr>
                                            <td>AUD</td>
                                            <td style="text-align: center;"><span>$15,468,089.67 <br>
                                                    $8,465,829.96</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-primary">Hide Currencies</button>
                            <button type="button" class="btn btn-primary">See Cashflow</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="row mt-4 pl-3">
                        <nav class="w-100">
                            <div class="nav nav-tabs" id="product-tab" role="tablist">
                                <a
                                  class="nav-item nav-link active"
                                  id="activity-analysis-tab"
                                  data-toggle="tab"
                                  href="#activityAnalysis"
                                  role="tab"
                                  aria-controls="activity-analysis"
                                  aria-selected="true"
                                >
                                  TODAY'S ACTIVITY ANALYSIS <i class="fa fa-question-circle text-muted mx-3"></i>
                                </a>
                                <a
                                  class="nav-item nav-link"
                                  id="outstanding-invoice-tab"
                                  data-toggle="tab"
                                  href="#outstanding-invoice"
                                  role="tab"
                                  aria-controls="outstanding-invoice"
                                  aria-selected="true">
                                  OUTSTANDING INVOICE STATUS <i class="fa fa-question-circle text-muted mx-3"></i>
                                </a>
                            </div>
                        </nav>
                        <div
                          class="tab-content p-3"
                          id="nav-tabContent"
                        >
                          <div
                              class="tab-pane fade show active"
                              id="activityAnalysis"
                              role="tabpanel"
                              aria-labelledby="product-desc-tab"
                          >
                            <canvas
                                        baseChart
                                        [data]="barChartData"
                                        [options]="barChartOptions"
                                        [type]="barChartType"
                                      >
                                      </canvas>
                            <div class="row">
                              <div class="col-12 p-3">
                                <div class="card border-0">
                                  <table class="table table-striped">
                                    <thead>
                                    <tr>
                                      <th></th>
                                      <th><i class="fas fa-circle color-Unapproved"></i> Unapproved</th>
                                      <th><i class="fas fa-circle color-Approved"></i> Approved</th>
                                      <th><i class="fas fa-circle color-SalePending"></i> Sale Pending</th>
                                      <th><i class="fas fa-circle color-Sold"></i> Sold</th>
                                      <th> Total</th>
                                    </tr>
                                    <tr>
                                      <th>Consolidated</th>
                                      <th>$38,755.85</th>
                                      <th>$49,241,059.71</th>
                                      <th>$9,928,810.70</th>
                                      <th>$83,629,099.52 </th>
                                      <th>$142,837,725.78</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                      <th>GBP</th>
                                      <td>£4,265.33 </td>
                                      <td>£9,242,615.55 </td>
                                      <td>£0.00 </td>
                                      <td>£37,533,992.37</td>
                                      <td>£46,780,873.25 </td>
                                    </tr>
                                    <tr>
                                      <th>USD</th>
                                      <td>$13,054.51 </td>
                                      <td>$21,815,490.11 </td>
                                      <td>$0.00 </td>
                                      <td>$0.0</td>
                                      <td>$21,828,544.62 </td>
                                    </tr>
                                    <tr>
                                      <th>SGD</th>
                                      <td>$0.00 </td>
                                      <td>$3,467,920.47 </td>
                                      <td>$2,180,094.39  </td>
                                      <td>$12,772,765.92</td>
                                      <td>$18,420,780.78 </td>
                                    </tr>
                                    <tr>
                                      <th>EUR</th>
                                      <td>$0.00 </td>
                                      <td>€6,612,670.00 </td>
                                      <td>€5,009,914.48  </td>
                                      <td>€8,734,225.47</td>
                                      <td>€20,356,809.95 </td>
                                    </tr>
                                    <tr>
                                      <th>AUD</th>
                                      <td>$0.00 </td>
                                      <td>$376,514.55 </td>
                                      <td>$0.00 </td>
                                      <td>$0.00</td>
                                      <td>$376,514.5 </td>
                                    </tr>
                                    <tr>
                                      <th>CAD</th>
                                      <td>$0.00 </td>
                                      <td>$85,513.96 </td>
                                      <td>$0.00 </td>
                                      <td>$0.00</td>
                                      <td>$85,513.96 </td>
                                    </tr>
                                    <tr>
                                      <th>AED</th>
                                      <td>AED16,876.13 </td>
                                      <td>AED62,369.57 </td>
                                      <td>AED0.00 </td>
                                      <td>AED0.00 	</td>
                                      <td>AED79,245.70 </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                      <td colspan="6" class="text-center">
                                        <button class="btn btn-outline-primary btn-lg">Hide Currencies(7)</button>
                                      </td>
                                    </tr>
                                    </tfoot>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="tab-pane fade"
                            id="outstanding-invoice"
                            role="tabpanel"
                            aria-labelledby="outstanding-invoice-tab">
                            <app-char-line-horizontal [dataset]="datasets"></app-char-line-horizontal>
                          </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
