<div class="row pt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="form-check">
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle mr-2"><i class="far fa-square"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <tbody>
                        <tr>
                            <td><i class="fas fa-envelope mr-2"></i>SEPuser</td>
                            <td>Document Upload Required (FR-AAAAASM)</td>
                            <td>17/02/2022 09:28 -05</td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-envelope mr-2"></i>SEPuser</td>
                            <td>Document Upload Required (FR-AAAAASM)</td>
                            <td>17/02/2022 09:28 -05</td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-envelope mr-2"></i>SEPuser</td>
                            <td>Document Upload Required (FR-AAAAASM)</td>
                            <td>17/02/2022 09:28 -05</td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-envelope mr-2"></i>SEPuser</td>
                            <td>Document Upload Required (FR-AAAAASM)</td>
                            <td>17/02/2022 09:28 -05</td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-envelope mr-2"></i>SEPuser</td>
                            <td>Document Upload Required (FR-AAAAASM)</td>
                            <td>17/02/2022 09:28 -05</td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-envelope mr-2"></i>SEPuser</td>
                            <td>Document Upload Required (FR-AAAAASM)</td>
                            <td>17/02/2022 09:28 -05</td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal-footer justify-content-between">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">
                                    << </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">>></a></li>
                        </ul>
                    </nav>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">10</a></li>
                        <li class="page-item"><a class="page-link" href="#">25</a></li>
                        <li class="page-item"><a class="page-link" href="#">50</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>