<form
  name="forgotPassword"
  [formGroup]="fg"
>
  <div class="form-group">
    <label for="username" >username</label>
    <input
      required
      type="text"
      class="demica-login-input form-control"
      id="username"
      name="username"
    >

    <div
      role="alert"
      *ngIf="false"
    >
      <div class="login-errorMsg">
        Forms Fields Errors Mandatory
      </div>
    </div>
  </div>


  <p class="p-recaptcha">
    <span
    id=""
    class="g-recaptcha">
       <re-captcha
         (resolved)="resolved($event)"
         (error)="errored($event)"
         errorMode="handled"
         formControlName="recaptcha"
       ></re-captcha>
    </span>
  </p>

  <p>
    <button
      type="submit"
      class="btn btn-primary"
     [disabled]="fg.invalid"
    >Reset My Password
    </button>
    <button
      type="button"
      class="btn btn-secondary"
    >Cancel
    </button>
  </p>
  <div
    class="alert alert-info"
    role="alert"
    *ngIf="false"
  >
    <p >Thank you. If the username you entered was valid, we have sent you an email.</p>
  </div>
  <!--<div
    class="alert alert-danger"
    role="alert"
  >
    <p>passwordResetError</p>

    <p>

    </p>
  </div>-->
</form>
