<div class="row pt-2">
    <div class="col-lg-12">
        <div class="">
            <div class="row mt-4 pl-3 card bg-transparent" style="box-shadow: inherit">
                <nav class="w-100">
                    <div class="nav nav-tabs" id="product-tab" role="tablist">
                        <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc"
                            role="tab" aria-controls="product-desc" aria-selected="true">REFINE SEARCH RESULTS 
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </a>
                    </div>
                </nav>
                <div class="card-body tab-content p-3" id="nav-tabContent" style="background: white; width: 100%">
                    <div class="tab-pane fade show active" id="product-desc" role="tabpanel"
                        aria-labelledby="product-desc-tab">
                        <div class="row mt-3">
                            <div class="form-group" style="min-width: 10rem; margin-inline: 1rem;">
                                <label for="start">Date</label>

                                <input type="date" class="form-control" id="start" name="trip-start" value="2018-07-22"
                                    min="2018-01-01" max="2018-12-31">
                            </div>
                            <div class="form-group" style="min-width: 10rem; margin-inline: 1rem;">
                                <label for="start">&af;</label>

                                <input type="date" class="form-control" id="start" name="trip-start" value="2018-07-22"
                                    min="2018-01-01" max="2018-12-31">
                            </div>
                            <div class="form-group" style="min-width: 21rem; margin-inline: 1rem;">
                                <label for="exampleFormControlSelect1">Funder</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Text a</option>
                                    <option>Text b</option>
                                    <option>Text c</option>
                                    <option>Text d</option>
                                    <option>Text e</option>
                                    <option>Text e</option>
                                </select>
                            </div>


                            <div class="form-group" style="min-width: 21rem; margin-inline: 1rem;">
                                <label for="exampleFormControlSelect1">Rate Type</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Text a</option>
                                    <option>Text b</option>
                                    <option>Text c</option>
                                    <option>Text d</option>
                                    <option>Text e</option>
                                    <option>Text e</option>
                                </select>
                            </div>
                            <div class="form-group" style="min-width: 21rem; margin-inline: 1rem;">
                                <label for="exampleFormControlSelect1">Currency</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Text a</option>
                                    <option>Text b</option>
                                    <option>Text c</option>
                                    <option>Text d</option>
                                    <option>Text e</option>
                                    <option>Text e</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <div class="col-10">
                                <button class="btn text-color"><i class="fas fa-redo"></i> Reset Filter</button>
                            </div>
                            <button type="button" class="btn btn-primary">See Cashflow</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="">
            <div class="row mt-4 pl-3">
                <nav class="w-100">
                    <div class="nav nav-tabs" id="product-tab" role="tablist">
                        <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc"
                            role="tab" aria-controls="product-desc" aria-selected="true">REFINE SEARCH RESULTS</a>
                    </div>
                </nav>
                <div class="tab-content p-3" id="nav-tabContent" style="background: white; width: 100%">
                    <div class="tab-pane fade show active" id="product-desc" role="tabpanel"
                        aria-labelledby="product-desc-tab">
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Funder</th>
                                        <th scope="col">Rate type</th>
                                        <th scope="col">Currency</th>
                                        <th scope="col">View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>14/02/2022 12:28 -05</td>
                                        <td>Bank of America, Singapore</td>
                                        <td>DISCOUNT</td>
                                        <td>USD</td>
                                        <td><button class="btn btn-primary"><i class="fas fa-search"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>14/02/2022 12:28 -05</td>
                                        <td>Bank of America, Singapore</td>
                                        <td>DISCOUNT</td>
                                        <td>SGD</td>
                                        <td><button class="btn btn-primary"><i class="fas fa-search"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>14/02/2022 12:28 -05</td>
                                        <td>Bank of America, Singapore</td>
                                        <td>DISCOUNT</td>
                                        <td>SEK</td>
                                        <td><button class="btn btn-primary"><i class="fas fa-search"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>14/02/2022 12:28 -05</td>
                                        <td>Bank of America, Singapore</td>
                                        <td>DISCOUNT</td>
                                        <td>PLN</td>
                                        <td><button class="btn btn-primary"><i class="fas fa-search"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>14/02/2022 12:28 -05</td>
                                        <td>Bank of America, Singapore</td>
                                        <td>DISCOUNT</td>
                                        <td>NOK</td>
                                        <td><button class="btn btn-primary"><i class="fas fa-search"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>14/02/2022 12:28 -05</td>
                                        <td>Bank of America, Singapore</td>
                                        <td>DISCOUNT</td>
                                        <td>JPY</td>
                                        <td><button class="btn btn-primary"><i class="fas fa-search"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="float-right">
                                <ul class="pagination mr-5 mt-5">
                                    <li class="page-item"><a class="page-link" href="#">10</a></li>
                                    <li class="page-item"><a class="page-link" href="#">25</a></li>
                                    <li class="page-item"><a class="page-link" href="#">50</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-primary">
    <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
        </button>
    </div>
    
    <div class="card-body">
        <p>Holaaaaaaaaaa</p>
    </div>
    <!-- /.card-body -->
</div>